/* Light mode colors properties */
:root {
  --primary: 51, 51, 51;
  --secondary: 110, 110, 110;
  --tertiary: 0, 102, 255;
  --input-fields: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.24) 100%
  );
  --primary-buttons: linear-gradient(
      90deg,
      #1c68f8 0%,
      #1753c5 71.5%,
      #113d92 100%
    ),
    linear-gradient(
      318.8deg,
      rgba(255, 255, 255, 0) 35.19%,
      rgba(255, 255, 255, 0.3) 92.55%
    );
  --highlighed-components: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
      154.24deg,
      rgba(29, 85, 191, 0.3) 9.35%,
      rgba(255, 255, 255, 0.3) 157.6%
    );
  --shapes-background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1.21) 121.6%,
    rgba(17, 61, 146, 0.21) 9.35%
  );
  --background-main: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.35) 100%
  );
  --background-dark: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(21, 21, 21, 1) 0%,
    rgba(8, 8, 8, 1) 100%
  );
  --active: 1, 255, 18;
  --success: 13, 152, 87;
  --fail: 255, 0, 0;
  --muted: 136, 136, 136;

  --box-background: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.35) 100%
  );

  --box-border: #ffffff3d;
}

/* Dark mode colors properties */
.dark {
  --primary: 255, 255, 255;
  --secondary: 137, 137, 137;
  --input-fields: linear-gradient(
    180deg,
    rgba(36, 36, 36, 0.8) 0%,
    rgba(33, 33, 33, 0.24) 100%
  );
  --shapes-background: linear-gradient(
    -45deg,
    rgba(17, 61, 146, 0.21) 0%,
    rgba(255, 255, 255, 0.21) 100%
  );
  --highlighed-components: linear-gradient(
    159.24deg,
    rgba(29, 85, 191, 0.3) 7.89%,
    rgba(0, 0, 0, 0.3) 114.88%
  );
  --background-main: radial-gradient(
    100% 249.45% at 0% 2.78%,
    #151515 0%,
    #080808 100%
  );
  --background-dark: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(21, 21, 21, 1) 0%,
    rgba(8, 8, 8, 1) 100%
  );
  --muted: 141, 141, 141;

  --box-background: radial-gradient(
    100% 249.45% at 0% 2.78%,
    #151515 0%,
    #080808 100%
  );

  --box-border: #6363633d;
}
