/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import colors properties */
@import "./colors.css";

/* Import radius properties */
@import "./radius.css";

/* Import fonts */
@import "./fonts.css";

/* Font family styles */
@layer base {
  html {
    font-family: "RethinkSans", sans-serif;
  }
}

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  background: #888888bd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--input-fields);
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: block;
  }
}
/* End of scrollbar styles */
